<form>
  <fieldset>
    <legend>Fractions Sum Expression</legend>
    <label></label>
    <input id="init-expression-input" type="text" placeholder="1/4 + 3/7" value="1/4 + 3/7">
    <span class="help-block">Type your expression</span>
    <button type="submit" class="btn" id="init-exp">Continue</button>
  </fieldset>
</form>